<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/default.css" rel="stylesheet">
    <link href="/static/css/form.css" rel="stylesheet">
    <title>Купить</title>
</head>
<body>
<div th:replace="/header :: header"></div>
<form th:action="@{/products/buy/{id}(id=${flowerId})}"
      th:method="post"
      th:object="${buyDTO}"
      class="formCustom">
    <div>
        <label for="amount">Количество цветов</label>
        <input type="text" id="amount" name="amount" th:field="*{amount}" required="required"/>
        <p th:if="${#fields.hasErrors('amount')}" class="error">Количество должно быть больше 0</p>
        <p th:if="${error}" th:text="${error}"class="error"></p>
    </div>
    <button type="submit">Купить</button>
</form>
</body>
</html>