<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Доступные товары</title>
  <link href="/static/css/default.css" rel="stylesheet">
  <link href="/static/css/products.css" rel="stylesheet">
</head>
<body>
<div th:replace="/header :: header"> </div>
<h1>Доступные цветы</h1>
<div th:each="flower : ${flowers}" class="productsList">
  <div class="product">
    <div class="productInfo">
      <p th:text="'Описание:'+${flower.getDescription()}" class="product_description"></p>
      <p th:text="'Цена:'+${flower.getPrice()}" class="product_price"></p>
      <p th:text="'Есть в наличии:'+${flower.getAmount()}" class="product_amount"></p>
      <a th:href="@{/products/buy/{id}(id=${flower.getFlowerId()})}"
         class="buyProduct">Купить</a>
    </div>
    <img th:src="'/photos/'+${flower.getPhotoName()}" class="product_photo"/>
  </div>
</div>
</body>
</html>