<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/default.css" rel="stylesheet">
</head>
<body>
<div th:replace="/header :: header"></div>
<div class="indexContainer">
    <h1>Цветы для вас</h1>
    <p>Мы предлагаем широкий выбор цветов по доступным ценам.</p>
    <a href="/users/create" class="goToLogin" sec:authorize="!isAuthenticated()">Войдите в аккаунт</a>
</div>
</body>
</html>